<nav>
  <div id="logo">
    Vuyani Ncube
  </div>
  <div id="links">
    <ul>
      <li>
        <a href="">Projects</a>
      </li>
      <li>
        <a href="">Experience</a>
      </li>
      <li>
        <a href="">Skills</a>
      </li>
    </ul>
  </div>
  <div id="social-media">
    <ul>
      <li>
        <a href=""><img src="../../assets/images/icons8-github-50.png" height="25px" alt=""></a>
      </li>
      <li>
        <a href=""><img src="../../assets/images/icons8-linkedin-50.png" height="25px" alt=""></a>
      </li>
      <li>
        <a href=""><img src="../../assets/images/icons8-x-50.png" height="25px" alt=""></a>
      </li>
    </ul>
  </div>
</nav>
