<nav [class.menu-open]="isMenuOpen">
  <div id="logo">
    Vuyani Ncube
  </div>

  <!-- Hamburger Menu Button (visible only on mobile) -->
  <div class="hamburger" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <!-- Desktop Navigation Links (hidden on mobile) -->
  <div id="links">
    <ul>
      <li>
        <div class="local-link" (click)="gotoElement('projects')">Projects</div>
      </li>
      <li>
        <div class="local-link" href="" (click)="gotoElement('experience')">Experience</div>
      </li>
      <li>
        <div class="local-link" href="" (click)="gotoElement('skillset')">Skills</div>
      </li>
    </ul>
  </div>

  <!-- Desktop Social Media Icons (hidden on mobile) -->
  <div id="social-media">
    <ul>
      <li>
        <a href="https://github.com/vuyani98"><img src="../../assets/images/icons8-github-50.png" height="25px" alt="GitHub"></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/vuyani-ncube-1901b7147/"><img src="../../assets/images/icons8-linkedin-50.png" height="25px" alt="LinkedIn"></a>
      </li>
      <li>
        <a href="https://x.com/vyanincube"><img src="../../assets/images/icons8-x-50.png" height="25px" alt="Twitter/X"></a>
      </li>
    </ul>
  </div>

  <!-- Mobile Navigation (shows when menu is open) -->
  <div id="mobile-nav">
    <ul>
      <li>
        <div class="local-link" (click)="gotoElement('projects'); closeMenu()">Projects</div>
      </li>
      <li>
        <div class="local-link" href="" (click)="gotoElement('experience'); closeMenu()">Experience</div>
      </li>
      <li>
        <div class="local-link" href="" (click)="gotoElement('skillset'); closeMenu()">Skills</div>
      </li>
    </ul>

    <div class="mobile-social">
      <ul>
        <li>
          <a href="https://github.com/vuyani98" (click)="closeMenu()"><img src="../../assets/images/icons8-github-50.png" height="25px" alt="GitHub"></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/vuyani-ncube-1901b7147/" (click)="closeMenu()"><img src="../../assets/images/icons8-linkedin-50.png" height="25px" alt="LinkedIn"></a>
        </li>
        <li>
          <a href="https://x.com/vyanincube" (click)="closeMenu()"><img src="../../assets/images/icons8-x-50.png" height="25px" alt="Twitter/X"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
