<div id="my-hero">

  <div id="hero-text">
    <h1 id="hero-text-header">Full-stack Web Developer</h1>
    <p>I'm a full-stack web developer passionate about crafting clean, efficient, and user-friendly digital experiences.  I thrive on bringing ideas to life, from the initial concept and design phase all the way through to a fully functional, deployed application.  While web development is my core focus, I also enjoy exploring the creative side of things with graphic design, delving into the strategies of digital marketing, and keeping up-to-date with the ever-evolving landscape of cybersecurity.  This diverse skillset allows me to approach projects from a holistic perspective, ensuring not only technical excellence but also a strong visual appeal and a keen understanding of online presence.
      I'm always eager to learn and collaborate, and I'm excited to see what we can build together.</p>
    <div id="skwiggle-border">
      <button> <a href="mailto:nvuyani307@gmail.com">email me</a></button>
    </div>
  </div>

  <div id="hero-image">
    <img src="../../assets/images/meblackcool.jpg" height="100%" alt="Vuyani Ncube" style="border-radius: 15px;">
  </div>

</div>

<div id="projects">

  <h2>RECENT WORK</h2>

  <div id="projects-outer">
    <div id="laptop-projects-inner" class="projects-inner">

      <div class="project">
        <div class="project-image">
          <img [src]="'../../assets/images/VUTHA-' + deviceClass + '.png'" height="100%" alt="">
        </div>

        <div class="project-details">
          <h3> Vutha Digital</h3>
          <div style="display: flex; align-items: center; margin-block: -20px; justify-content: center;"><h4>Tech Stack:</h4><p>Angular</p></div>
          <div style="display: flex; align-items: center; margin-block: -20px; justify-content: center;"><h4>Role:</h4><p> Designing and creation of Front End</p></div>
          <div class="project-btn">
            <button><a href="https://vuthadigital.com/">view website  <img src="../../assets/images/icons8-website-50.png" height="20px" alt=""> </a></button>
          </div>
        </div>
      </div>

      <div class="project">
        <div class="project-image">
          <img [src]="'../../assets/images/DAMS-' + deviceClass + '.png'" height="100%" alt="">
        </div>

        <div class="project-details">
          <h3> Hillside Dams Conservancy</h3>
          <div style="display: flex; align-items: center; margin-block: -20px; justify-content: center;"><h4>Tech Stack:</h4><p>Wordpress</p></div>
          <div style="display: flex; align-items: center; margin-block: -20px; justify-content: center;"><h4>Role:</h4><p> Designing and creation of Wordpress Site</p></div>
          <div class="project-btn">
            <button><a href="https://hillsidedams.com/">view website  <img src="../../assets/images/icons8-website-50.png" height="20px" alt=""> </a></button>
          </div>
        </div>
      </div>


      <div class="project">
        <div class="project-image">
          <img [src]="'../../assets/images/GT-' + deviceClass + '.png'" height="100%" alt="">
        </div>

        <div class="project-details">
          <h3> GT International Missions Centre</h3>
          <div style="display: flex; align-items: center; margin-block: -20px; justify-content: center;"><h4>Tech Stack:</h4><p> Angular</p></div>
          <div style="display: flex; align-items: center; margin-block: -20px; justify-content: center;"><h4>Role:</h4><p> Designing and creation of Front End</p></div>
          <div class="project-btn">
            <button><a href="https://www.gtintmissionsbyo.org/">view website  <img src="../../assets/images/icons8-website-50.png" height="20px" alt=""> </a></button>
          </div>
        </div>
      </div>

      <div class="project">

        <div class="project-image">
          <img [src]="'../../assets/images/ADVERUM-' +deviceClass+ '.png'" height="100%" alt="">
        </div>

        <div class="project-details">
          <h3> Adverum Finance</h3>
          <div style="display: flex; align-items: center; margin-block: -20px; justify-content: center;"><h4>Tech Stack:</h4><p>M.E.A.N Stack</p></div>
          <div style="display: flex; align-items: center; margin-block: -20px; justify-content: center;"><h4>Role:</h4><p>FullStack Development</p></div>

          <div class="project-btn">
            <button><a href="https://www.adverumfinance.com/#/">view website  <img src="../../assets/images/icons8-website-50.png" height="20px" alt=""> </a></button>
          </div>
        </div>
      </div>

      <div class="project">
        <div class="project-image">
          <img [src]="'../../assets/images/TG-' + deviceClass + '.png'" height="100%" alt="">
        </div>

        <div class="project-details">
          <h3>TG Security Systems</h3>
          <div style="display: flex; align-items: center; margin-block: -20px; justify-content: center;"><h4>Tech Stack:</h4><p>M.E.A.N Stack</p></div>
          <div style="display: flex; align-items: center; margin-block: -20px; justify-content: center;"><h4>Role:</h4><p>FullStack Development</p></div>
          <div class="project-btn">
            <button><a href="https://www.tgsecurity.co.za/#/">view website  <img src="../../assets/images/icons8-website-50.png" height="20px" alt=""> </a></button>
          </div>
        </div>
      </div>


      <div class="project">
        <div class="project-image">
          <img [src]="'../../assets/images/VUTHA-' + deviceClass + '.png'" height="100%" alt="">
        </div>

        <div class="project-details">
          <h3>Vutha Digital</h3>
          <div style="display: flex; align-items: center; margin-block: -20px; justify-content: center;"><h4>Tech Stack:</h4><p>Angular</p></div>
          <div style="display: flex; align-items: center; margin-block: -20px; justify-content: center;"><h4>Role:</h4><p> Designing and creation of Front End</p></div>
          <div class="project-btn">
            <button><a href="https://vuthadigital.com/">view website  <img src="../../assets/images/icons8-website-50.png" height="20px" alt=""> </a></button>
          </div>
        </div>
      </div>

      <div class="project">
        <div class="project-image">
          <img [src]="'../../assets/images/DAMS-' + deviceClass + '.png'" height="100%" alt="">
        </div>

        <div class="project-details">
          <h3> Hillside Dams Conservancy</h3>
          <div style="display: flex; align-items: center; margin-block: -20px; justify-content: center;"><h4>Tech Stack:</h4><p>Wordpress</p></div>
          <div style="display: flex; align-items: center; margin-block: -20px; justify-content: center;"><h4>Role:</h4><p> Designing and creation of Wordpress Site</p></div>
          <div class="project-btn">
            <button><a href="https://hillsidedams.com/">view website  <img src="../../assets/images/icons8-website-50.png" height="20px" alt=""> </a></button>
          </div>
        </div>
      </div>

      <div class="project">
        <div class="project-image">
          <img [src]="'../../assets/images/GT-' + deviceClass + '.png'" height="100%" alt="">
        </div>

        <div class="project-details">
          <h3> GT International Missions Centre</h3>
          <div style="display: flex; align-items: center; margin-block: -20px; justify-content: center;"><h4>Tech Stack:</h4><p> Angular</p></div>
          <div style="display: flex; align-items: center; margin-block: -20px; justify-content: center;"><h4>Role:</h4><p> Designing and creation of Front End</p></div>
          <div class="project-btn">
            <button><a href="https://www.gtintmissionsbyo.org/">view website  <img src="../../assets/images/icons8-website-50.png" height="20px" alt=""> </a></button>
          </div>
        </div>
      </div>

      <div class="project">

        <div class="project-image">
          <img [src]="'../../assets/images/ADVERUM-' +deviceClass+ '.png'" height="100%" alt="">
        </div>

        <div class="project-details">
          <h3> Adverum Finance</h3>
          <div style="display: flex; align-items: center; margin-block: -20px; justify-content: center;"><h4>Tech Stack:</h4><p>M.E.A.N Stack</p></div>
          <div style="display: flex; align-items: center; margin-block: -20px; justify-content: center;"><h4>Role:</h4><p>FullStack Development</p></div>
          <div class="project-btn">
            <button><a href="https://www.adverumfinance.com/#/">view website  <img src="../../assets/images/icons8-website-50.png" height="20px" alt=""> </a></button>
          </div>
        </div>
      </div>

      <div class="project">
        <div class="project-image">
          <img [src]="'../../assets/images/TG-' + deviceClass + '.png'" height="100%" alt="">
        </div>

        <div class="project-details">
          <h3>TG Security Systems</h3>
          <div style="display: flex; align-items: center; margin-block: -20px; justify-content: center;"><h4>Tech Stack:</h4><p>M.E.A.N Stack</p></div>
          <div style="display: flex; align-items: center; margin-block: -20px; justify-content: center;"><h4>Role:</h4><p>FullStack Development</p></div>
          <div class="project-btn">
            <button><a href="https://www.tgsecurity.co.za/#/">view website  <img src="../../assets/images/icons8-website-50.png" height="20px" alt=""> </a></button>
          </div>
        </div>
      </div>

    </div>
  </div>



</div>
<div id="skillset">

  <h2 style="text-align: center;">SKILLSET</h2>

  <div id="skillset-outer">

    <div class="skills-head">

      <div class="left">Language / Framework</div>
      <div class="right">Proficiency (0% - 100%)</div>

    </div>

    <div class="skills-inner">

      <div class="skill">

        <div class="left"> Javascript</div>

        <div class="right">
          <section class="example-section">
            <mat-slider class="example-margin" disabled="disabled">
              <input type="range" value="90" matSliderThumb>
            </mat-slider>
          </section>
        </div>

      </div>

      <div class="skill">

        <div class="left">Python</div>

        <div class="right">
          <section class="example-section">
            <mat-slider class="example-margin" disabled="disabled">
              <input type="range" value="70" matSliderThumb>
            </mat-slider>
          </section>
        </div>

      </div>

      <div class="skill">

        <div class="left"> Typescript</div>

        <div class="right">
          <section class="example-section">
            <mat-slider class="example-margin" disabled="disabled">
              <input type="range" value="80" matSliderThumb>
            </mat-slider>
          </section>
        </div>

      </div>


    </div>

    <div class="skills-head">

      <div class="left">Tools</div>
      <div class="right">Proficiency (0% - 100%)</div>

    </div>

    <div class="skills-inner">

      <div class="skill">

        <div class="left">Github</div>

        <div class="right">
          <section class="example-section">
            <mat-slider class="example-margin" disabled="disabled">
              <input type="range" value="90" matSliderThumb>
            </mat-slider>
          </section>
        </div>

      </div>

      <div class="skill">

        <div class="left">Git</div>

        <div class="right">
          <section class="example-section">
            <mat-slider class="example-margin" disabled="disabled">
              <input type="range" value="70" matSliderThumb>
            </mat-slider>
          </section>
        </div>

      </div>

      <div class="skill">

        <div class="left">Figma</div>

        <div class="right">
          <section class="example-section">
            <mat-slider class="example-margin" disabled="disabled">
              <input type="range" value="80" matSliderThumb>
            </mat-slider>
          </section>
        </div>

      </div>


    </div>

  </div>

</div>

<div id="experience">

  <h2>WORK EXPERIENCE</h2>

  <div id="experience-outer">

    <div id="experience-inner">

      <div class="experience-card" style="border-right:  1px solid black;">

        <img src="../../assets/images/icons8-work-50.png" alt="" height="30px"> <br>
        <div class="details top"> <span class="title">Company: </span>Hlabeyakhe Labs </div>
        <div class="details top"> <span class="title">Role: </span>Full Stack Web Developer </div>
        <div class="details top"> <span class="title">Period: </span>September 2023 - Present </div>
        <br>
        <div class="details"> <span class="title">Description:</span> <br>
          <ul>
            <li>Developing Private RestAPIs;</li>
            <li>Consuming APIs;</li>
            <li>Microservices Architecture;</li>
            <li>Code reviewing for quality and accuracy;</li>
            <li>Designing and Developing front-end for web apps;</li>
            <li>Running Unit tests</li>
            <li>Fixing Bugs</li>
            <li>Setting up CI/CD to automate deployment;</li>
            <li>Setting up version and source control (git repositories);</li>
            <li>Attending meetings and briefings with clients</li>
          </ul>
        </div>
        <br>
        <div class="details"> <span class="title">References:</span> edgar&#64;hlabeyakhelabs.com | natashatekere&#64;gmail.com  </div>

      </div>

      <div class="experience-card" style="border-right:  1px solid black;">

        <img src="../../assets/images/icons8-work-50.png" alt="" height="30px"> <br>
        <div class="details top"> <span class="title">Company: </span>NeoTech PTY Ltd</div>
        <div class="details top"> <span class="title">Role: </span>Front-End Developer</div>
        <div class="details top"> <span class="title">Period: </span>Jan 2020 - Nov 2022</div>
        <br>
        <div class="details"> <span class="title">Description:</span> <br>
          <ul>
            <li>Designing and Developing logical models that meet application requirements;</li>
            <li>Search Engine Optimization;</li>
            <li>Developing and maintaining Angular web applications;</li>
            <li>Consuming APIs;</li>
            <li>Code reviewing for functionality and great user experiences;</li>
            <li>Designing and Developing front-end for web apps;</li>
            <li>Fixing Bugs</li>

          </ul>
        </div>
        <br>
        <div class="details"> <span class="title">References:</span>Lucky Hlakaza: nhlalucky&#64;gmail.com  </div>

      </div>

      <div class="experience-card">

        <img src="../../assets/images/icons8-work-50.png" alt="" height="30px"> <br>
        <div class="details top"> <span class="title">Company: </span>TG Security Systems</div>
        <div class="details top"> <span class="title">Role: </span>Front-End Developer</div>
        <div class="details top"> <span class="title">Period: </span> 2019 - 2023 </div>
        <br>
        <div class="details"> <span class="title">Description:</span> <br>
          <ul>
            <li>Designing and Developing Website</li>
            <li>Web Maintanence</li>
            <li>Designing Graphics (Email signatures, Posters, Pamphlets and Fliers)</li>
            <li>Search Engine Optimization</li>
            <li>Managing Social Media Accounts</li>
          </ul>
        </div>
        <br>
        <div class="details"> <span class="title">References:</span> ian&#64;tgsecurity.co.za </div>

      </div>

    </div>

  </div>


</div>
