<div id="my-hero">

  <div id="hero-text">
    <h1 id="hero-text-header">Full-stack Web Developer</h1>
    <p>I'm a full-stack web developer passionate about crafting clean, efficient, and user-friendly digital experiences.  I thrive on bringing ideas to life, from the initial concept and design phase all the way through to a fully functional, deployed application.  While web development is my core focus, I also enjoy exploring the creative side of things with graphic design, delving into the strategies of digital marketing, and keeping up-to-date with the ever-evolving landscape of cybersecurity.  This diverse skillset allows me to approach projects from a holistic perspective, ensuring not only technical excellence but also a strong visual appeal and a keen understanding of online presence.
      I'm always eager to learn and collaborate, and I'm excited to see what we can build together.</p>
    <div id="skwiggle-border">
      <button> email me</button>
    </div>
  </div>

  <div id="hero-image">
    <img src="../../assets/images/meblackcool.jpg" height="100%" alt="Vuyani Ncube" style="border-radius: 15px;">
  </div>

</div>

<div id="projects">

  <h2>RECENT WORK</h2>

  <div id="projects-outer">
    <div id="laptop-projects-inner" class="projects-inner">

      <div class="project">
        <div class="project-image">
          <img src="../../assets/images/gt-mac.png" height="100%" alt="">
        </div>
        <div class="project-details">
          <h3> GT International Missions Centre</h3>
          <div style="display: flex; align-items: center; margin-block: -20px; justify-content: center;"><h4>Tech Stack:</h4><p> Angular</p></div>
          <div style="display: flex; align-items: center; margin-block: -20px; justify-content: center;"><h4>Role:</h4><p> Designing and creation of Front End</p></div>
          <div class="project-btn">
            <button><a href="">view website  <img src="../../assets/images/icons8-website-50.png" height="20px" alt=""> </a></button>
          </div>
        </div>
      </div>

      <div class="project">

        <div class="project-image">
          <img src="../../assets/images/adverum-mac.png" height="100%" alt="">
        </div>
        <div class="project-details">
          <h3> Adverum Finance</h3>
          <div style="display: flex; align-items: center; margin-block: -20px; justify-content: center;"><h4>Tech Stack:</h4><p>M.E.A.N Stack</p></div>
          <div style="display: flex; align-items: center; margin-block: -20px; justify-content: center;"><h4>Role:</h4><p>FullStack Development</p></div>

          <div class="project-btn">
            <button><a href="">view website  <img src="../../assets/images/icons8-website-50.png" height="20px" alt=""> </a></button>
          </div>
        </div>
      </div>

      <div class="project">
        <div class="project-image">
          <img src="../../assets/images/TG-mac.png" height="100%" alt="">
        </div>
        <div class="project-details">
          <h3>TG Security Systems</h3>
          <div style="display: flex; align-items: center; margin-block: -20px; justify-content: center;"><h4>Tech Stack:</h4><p>M.E.A.N Stack</p></div>
          <div style="display: flex; align-items: center; margin-block: -20px; justify-content: center;"><h4>Role:</h4><p>FullStack Development</p></div>
          <div class="project-btn">
            <button><a href="">view website  <img src="../../assets/images/icons8-website-50.png" height="20px" alt=""> </a></button>
          </div>
        </div>
      </div>

      <div class="project">
        <div class="project-image">
          <img src="../../assets/images/gt-mac.png" height="100%" alt="">
        </div>
        <div class="project-details">
          <h3> GT International Missions Centre</h3>
          <div style="display: flex; align-items: center; margin-block: -20px; justify-content: center;"><h4>Tech Stack:</h4><p> Angular</p></div>
          <div style="display: flex; align-items: center; margin-block: -20px; justify-content: center;"><h4>Role:</h4><p> Designing and creation of Front End</p></div>
          <div class="project-btn">
            <button><a href="">view website  <img src="../../assets/images/icons8-website-50.png" height="20px" alt=""> </a></button>
          </div>
        </div>
      </div>

      <div class="project">

        <div class="project-image">
          <img src="../../assets/images/adverum-mac.png" height="100%" alt="">
        </div>
        <div class="project-details">
          <h3> Adverum Finance</h3>
          <div style="display: flex; align-items: center; margin-block: -20px; justify-content: center;"><h4>Tech Stack:</h4><p>M.E.A.N Stack</p></div>
          <div style="display: flex; align-items: center; margin-block: -20px; justify-content: center;"><h4>Role:</h4><p>FullStack Development</p></div>
          <div class="project-btn">
            <button><a href="">view website  <img src="../../assets/images/icons8-website-50.png" height="20px" alt=""> </a></button>
          </div>
        </div>
      </div>

      <div class="project">
        <div class="project-image">
          <img src="../../assets/images/TG-mac.png" height="100%" alt="">
        </div>
        <div class="project-details">
          <h3>TG Security Systems</h3>
          <div style="display: flex; align-items: center; margin-block: -20px; justify-content: center;"><h4>Tech Stack:</h4><p>M.E.A.N Stack</p></div>
          <div style="display: flex; align-items: center; margin-block: -20px; justify-content: center;"><h4>Role:</h4><p>FullStack Development</p></div>
          <div class="project-btn">
            <button><a href="">view website  <img src="../../assets/images/icons8-website-50.png" height="20px" alt=""> </a></button>
          </div>
        </div>
      </div>

    </div>
  </div>



</div>
<div id="skillset">

  <h2 style="text-align: center;">SKILLSET</h2>

  <div id="skillset-outer">

    <div id="skills-head">

      <div class="left">Language / Framework</div>
      <div class="right">Proficiency</div>

    </div>

    <div class="skills-inner">

      <div class="skill">

        <div class="left"> Javascript</div>

        <div class="right">
      <section class="example-section">
        <label class="example-margin">Progress:</label>
        <mat-slider class="example-margin" disabled="disabled">
          <input type="range" value="70" matSliderThumb>
        </mat-slider>
      </section>
        </div>

      </div>

    </div>

  </div>

</div>
